.small{
    width: 100px;
    height: 100px;
    background: red;
    margin: 20px;
    /* float: left; */
    border: 1px solid black;
    display:  inline-block;
}
.big{
    width: 100px;
    height: 100px;
    background: red;
    margin: 106px;
    /* float: left; */
    border: 1px solid black;
    display:  inline-block;
}
p{
    float: right;
}